
.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
  }
  .move{
    position: absolute;
    top: 155px;
  }
  